@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-dm-mono);
  --font-serif: var(--font-dm-serif);
}

* {
  user-select: none;
  -webkit-user-select: none;
}

body {
  background: #fff;
  color: #1a1a1a;
  font-family: var(--font-outfit), sans-serif;
}
